---
import "@styles/index.css";
import { manifest } from "@config/manifest";

export interface Props {
	title?: string,
	description?: string,
	ogType?: "website" | "article"
}

const { 
	title, 
	description = manifest.description,
	ogType = "website"
} = Astro.props;

const pageTitle = title ? `${title} | ${manifest.title}` : manifest.title;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL("/images/default-og-image.png", Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="sitemap" href="/sitemap-index.xml">
		<link rel="canonical" href={canonicalURL}>
		<link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-180x180.png">
		<link rel="manifest" href="/manifest.json" crossorigin="anonymous">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="msapplication-TileColor" content={manifest.theme}>
		<meta name="supported-color-schemes" content={manifest.colorShemes}>
		<meta name="theme-color" content={manifest.theme}>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:type" content={ogType}>
		<meta property="og:title" content={pageTitle}>
    <meta property="og:url" content={canonicalURL}>
		<meta property="og:description" content={description}>
		<meta property="og:site_name" content={pageTitle}>
		<meta property="og:image" content={ogImage}>
    <meta property="og:image:secure_url" content={ogImage}>
    <meta property="og:image:alt" content={pageTitle}>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
	</head>
	<body>
		<slot />
	</body>
</html>