---
import "@styles/index.css";
import { manifest } from "@config/manifest";

export interface Props {
	title?: string,
	description?: string
}

const { title, description } = Astro.props;
const pageTitle = title ? `${manifest.title} | ${title}` : manifest.title;
const pageDescription = description || manifest.description;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content={pageDescription}>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="sitemap" href="/sitemap-index.xml">
		<link rel="canonical" href={canonicalURL}>
		<link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-180x180.png">
		<link rel="manifest" href="/manifest.json" crossorigin="anonymous">
		<meta name="theme-color" content={manifest.theme}>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:type" content="website">
		<meta property="og:title" content={pageTitle}>
    <meta property="og:url" content={canonicalURL}>
		<meta property="og:description" content={pageDescription}>
		<meta property="og:site_name" content={pageTitle}>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
  	/* Fonts */
  	--font-main: Helvetica, Arial, Verdana, Geneva, Tahoma, system-ui, sans-serif;
  	--font-headings: Verdana, Geneva, Tahoma, sans-serif;
  	/* Colors */
  	--color-primary: hwb(216 0% 20%);
  	--color-accent: hwb(357 35% 1%);
  	--color-dark: hwb(216 0% 98%);
  	--color-light: hwb(216 98% 0%);
  	--color-gray: hwb(216 90% 5%);
  	--gradient-primary: -webkit-linear-gradient(55deg, hwb(216 0% 20%) 0%, hwb(216 0% 25%) 12.5%, hwb(216 0% 29%) 25%, hwb(216 35% 35%) 37.5%, hwb(216 0% 39%) 50%, hwb(216 35% 44%) 62.5%, hwb(216 0% 44%) 75%, hwb(216 19% 32%) 87.5%, hwb(216 0% 35%) 100%);
  	/* Sizes */
  	--size-100: 0.2rem;
  	--size-200: 0.5rem;
  	--size-300: 0.8rem;
  	--size-400: 1rem;
  	--size-500: 1.2rem;
  	--size-600: 1.4rem;
  	--size-700: 1.7rem;
  	--size-800: 2rem;
  	--size-900: 2.4rem;
  	--size-1200: 3.9rem;
  	/* Padding */
  	--padding-sm: var(--size-500);
  	--padding-md: var(--size-600);
  	--padding-lg: var(--size-700);
  	--padding-xl: var(--size-900);
  	--padding-xxl: var(--size-1200);
  	/* Measures */
  	--width: min(60ch, 94vw);
  	--width-lg: 94vw;
  	/* Border radius */
  	--radius: 0.3em;
  	--radius-pill: 1em;
  	--radius-round: 50%;
  	/* Shadows */
  	--shadow-image: 2px 2px 6px -2px hwb(216 5% 85%);
  	--shadow-header: 3px 3px 10px -3px hwb(216 83% 13%);
	}	
</style>