---
import "@styles/index.css";
import { manifest } from "@config/manifest";

export interface Props {
	title?: string,
	description?: string
}

const { title, description } = Astro.props;
const pageTitle = title ? `${title} | ${manifest.title}` : manifest.title;
const pageDescription = description || manifest.description;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content={pageDescription}>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="sitemap" href="/sitemap-index.xml">
		<link rel="canonical" href={canonicalURL}>
		<link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-180x180.png">
		<link rel="manifest" href="/manifest.json" crossorigin="anonymous">
		<meta name="theme-color" content={manifest.theme}>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:type" content="website">
		<meta property="og:title" content={pageTitle}>
    <meta property="og:url" content={canonicalURL}>
		<meta property="og:description" content={pageDescription}>
		<meta property="og:site_name" content={pageTitle}>
	</head>
	<body>
		<slot />
	</body>
</html>